@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
    /* border: solid white; */
    font-family: "Inter", sans-serif;
}

.font-primary{
    font-family: "Space Grotesk", sans-serif !important;
}

.fs-99{
    font-size: 96px !important;
}

@media(max-width: 767.98px) {
    .fs-99{
        font-size: 66px !important;
    }
}

.btn-custom-outline-white{
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 14px 24px;
    color: white;
}

.btn-custom-outline-white-2{
    border: 1px solid #000;
    border-radius: 50px;
    padding: 14px 24px;
    color: black;
}

.btn-custom-outline-black:hover{
    background-color: white;
    color: black;
}

.btn-custom-outline-white-2:hover{
    background-color: black;
    color: white;
}

.text-secondary {
    color: #979797; !important;
}

#myNavbar.bg-dark{
    transition: all 0.3s;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

#myNavbar.bg-transparent{
    transition: all 0.3s;
}

#jumbotron{
    height: 100vh;
    background-image: url("assets/bg/bg-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.destination{
    bottom: -65px;
}

#most-populer{
    min-height: 60vh;
    background-color: white;
}

.ratings{
    background-color: rgba(19, 15, 38, 0.3);
    backdrop-filter: blur(10px);
    padding: 7px;
    border-radius: 20px;
    color: white;
    top: 15px;
    right: 15px;
}

.card-destination img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border: radius 40px; ;
}

#destination{
    background-color: #eaeaea;
    min-height: 60vh;
}

#destination .floating{
    width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
}

#destination .floating.first{
    top: 100px;
}

#destination .floating.second{
    bottom: 80px;
    left: 40px;
}

#destination .floating.third{
    top: 160px;
    right: 40px;
}

#instagram{
    min-height: 80vh;
}

.img-instagram{
    border-radius: 30px;
}

.ig-icon{
    top: 20px;
    right: 30px;
}

#plan{
    background-color: #eaeaea;
    min-height: 80vh;
}

#book{
    min-height: 50vh;
    background-color: white;
}

#footer{
    min-height: 10vh;
    background-color: white;
}